@import '../abstracts/variables';

.auth_actions {
    button {
        height: 28px;
        padding: 0px 30px;
        border-radius: 8px;
        color: $para_white;
        border: 2px solid $details_color;
        transition: all 200ms ease-in;

        &:hover {
            background-color: $button_hover_color !important;
            border: 2px solid $button_hover_color !important;
        }

        &:first-child {
            background-color: transparent;
        }

        &:last-child {
            background-color: $details_color;
        }
    }
}

.login_form {
    button {
        color: $secondary_color;
        background-color: $details_color;
        border-radius: 4px;
        border: none;
        height: 32px;
        transition: all 200ms ease-in;

        &:hover {
            background-color: $button_hover_color;
        }
    }
}

.close_button {
    position: absolute;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 4px;
    right: -40px;
    top: 5px;
    border: none;
    background-color: rgba(240, 240, 240, 0.341);
    transition: all 50ms ease-in;
    &:hover {
        background-color: rgba(240, 240, 240, 0.6);
    }
}