@import '../abstracts/variables';

.popup_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #07070749;
}

.login_popup {
    width: 100%;
    max-width: 384px;
    background-color: $secondary_color;
    border-radius: 8px;
    box-shadow: $card_shadow;
    padding: 25px;
    
    .login_form {
        gap: 5px;
    }
}