$primary_color: #F8F4F1;
$secondary_color: #FFFFFF;
$additional_color: #262626;
$details_color: #C69048;
$header_color: #000000;
$para_black: #262626;
$para_white: #ECECEC;
$input_color: #F5F5F5;
$placeholder_color: #A9A9A9;
$error_color: #FF8888;

$facebook: #516EAB;
$twitter: #29C5F6;
$instagram: #D82ECC;
$linkedin: #0266A0;

$color_gradient: linear-gradient(90deg, #8B3434, #C69048);
$button_hover_color: #B27D36;
$item_hover_color: #EAEAEA;
$nav_item_hover_color: #383838;

$main_shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card_shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 
