@import '../abstracts/variables';

body {
    background-color: $primary_color;
    font-family: 'poppins';
}

.content {
    box-shadow: $main_shadow;
    background-color: $primary_color;
    max-width: 1280px;
    padding: 0px 23px;
    height: calc(100% - 48px);
    .main {
        overflow: auto;
        margin-top: 48px;
    }
}

.app_alert {
    position: absolute;
    width: fit-content;
    max-width: 400px;
    background-color: $secondary_color;
    top: 60px;
    right: 10px;
    box-shadow: $card_shadow;
    border-radius: 2px;
    transition: all 500ms ease-in-out;

    .timer_stripe {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: $details_color;
        border-radius: 0px 0px 2px 2px;
    }
}